<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpmate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Icse.nineMathPdf" />
        <activity android:name=".Icse.ninePdfSsc" />
        <activity android:name=".Icse.ninePdfSci" />
        <activity android:name=".Icse.ninePdfEng" />
        <activity android:name=".Icse.ninePdfComp" />
        <activity android:name=".Icse.twBioPdf" />
        <activity android:name=".Icse.twChemPdf" />
        <activity android:name=".Icse.twMathPdf" />
        <activity android:name=".Icse.twPhePdf" />
        <activity android:name=".Icse.twPhyPdf" />
        <activity android:name=".Icse.TwEngPdf" />
        <activity android:name=".Cbse.nineMathPdf" />
        <activity android:name=".Cbse.ninePdfComp" />
        <activity android:name=".Cbse.ninePdfEng" />
        <activity android:name=".Cbse.ninePdfHindi" />
        <activity android:name=".Cbse.ninePdfSci" />
        <activity android:name=".Cbse.ninePdfSsc" />
        <activity android:name=".Cbse.twPhePdf" />
        <activity android:name=".Cbse.twBioPdf" />
        <activity android:name=".Cbse.twChemPdf" />
        <activity android:name=".Cbse.twMathPdf" />
        <activity android:name=".Cbse.twPhyPdf" />
        <activity android:name=".Cbse.TwEngPdf" />
        <activity android:name=".EdPol.PdfEdpol" />
        <activity android:name=".Icse.VideoActivity"/>
        <activity android:name=".Cbse.VideoActivity" />
        <activity android:name=".Cbse.VideoFullScreen" />
        <activity android:name=".Icse.VideoFullScreen" />
        <activity android:name=".EdPol.VideoActivity" />
        <activity android:name=".EdPol.VideoFullScreen"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>